h2 {
    margin-bottom: 30px;
}

#main {
    font-size: 14px;
    line-height: 30px;
}

#main span {
    display: inline-block;
    width: 70px;
}

button {
    width: 70px;
    margin-top: 20px;
}

#main img {
    float: right;
}